@font-face {
    font-family: GameFont;
    src: url("../fonts/Cubic.ttf");
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
html,body,div,span,object,iframe,select,button,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin:0;padding:0;-webkit-font-smoothing:antialiased;box-sizing: border-box;
  
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
canvas{-webkit-app-region: no-drag}
body{
    -webkit-app-region: drag;
    width: 100vw;
    height: 100vh;
    background-color:#000;
    position: relative;text-align: center;
    will-change: transform;
    cursor: none;
}
